{% extends "base.html" %}

{% block title %}WorNDly by manor-quad!{% endblock %}

{% block content %}

<style>
    .btn-sm {
        margin-top: 50px;
        margin-left: 50px;
        margin-right: 20px; 
        font-size: 0.875rem;
        line-height: 1.5;
        border-radius: 0.2rem;
    }
    
    .input-group-prepend {
        margin-left: 20px;
        margin-right: 20px; 
    }

    .input-group {
        margin-top: 50px;
        margin-left: 50px;
        margin-right: 20px;
        width: 500px;
    }

    .badges-container {
        display: flex; /* Use flexbox layout */
        margin-left: 50px;
    }

    .badge {
        margin-left: 30px;
        margin-top: 10px;
        width: 100px; 
        height: 100px; 
        background-color: #293d7a; 
        color: #dbd5d5; 
        text-align: center; 
        line-height: 100px; 
    }
</style>

<h1>Guess a word in {{ language_selected }}!</h1>

<p>Word of the day: {{ word_of_day }}</p>

<div>
    <p>Guesses left: {{ guesses_left }}</p>
    <p>Good letters: {{ yellow_letters }}</p>
    <p>Bad letters: {{ gray_letters }}</p>
    <p>Correct letters: {{ green_letters }}</p>
</div>

<form method="post">
    {% csrf_token %}
    <div class="input-group mb-3">
        <div class="input-group-prepend">
        <button class="btn btn-outline-secondary" type="submit">Enter your guess!</button>
        </div>
        <input type="text" class="form-control" placeholder="Should be a FIVE letter word." aria-label="" aria-describedby="basic-addon1" id = "curr_guess" name = "curr_guess">
    </div>
</form>

<div class="badges-container">
    <div class="badge">{{ firstguess.0 }}</div>
    <div class="badge">{{ firstguess.1 }}</div>
    <div class="badge">{{ firstguess.2 }}</div>
    <div class="badge">{{ firstguess.3 }}</div>
    <div class="badge">{{ firstguess.4 }}</div>
</div>

<div class="badges-container">
    <div class="badge">{{ secondguess.0 }}</div>
    <div class="badge">{{ secondguess.1 }}</div>
    <div class="badge">{{ secondguess.2 }}</div>
    <div class="badge">{{ secondguess.3 }}</div>
    <div class="badge">{{ secondguess.4 }}</div>
</div>

<div class="badges-container">
    <div class="badge">{{ thirdguess.0 }}</div>
    <div class="badge">{{ thirdguess.1 }}</div>
    <div class="badge">{{ thirdguess.2 }}</div>
    <div class="badge">{{ thirdguess.3 }}</div>
    <div class="badge">{{ thirdguess.4 }}</div>
</div>

<div class="badges-container">
    <div class="badge">{{ fourthguess.0 }}</div>
    <div class="badge">{{ fourthguess.1 }}</div>
    <div class="badge">{{ fourthguess.2 }}</div>
    <div class="badge">{{ fourthguess.3 }}</div>
    <div class="badge">{{ fourthguess.4 }}</div>
</div>

<div class="badges-container">
    <div class="badge">{{ fifthguess.0 }}</div>
    <div class="badge">{{ fifthguess.1 }}</div>
    <div class="badge">{{ fifthguess.2 }}</div>
    <div class="badge">{{ fifthguess.3 }}</div>
    <div class="badge">{{ fifthguess.4 }}</div>
</div>

<div class="badges-container">
    <div class="badge">{{ lastguess.0 }}</div>
    <div class="badge">{{ lastguess.1 }}</div>
    <div class="badge">{{ lastguess.2 }}</div>
    <div class="badge">{{ lastguess.3 }}</div>
    <div class="badge">{{ lastguess.4 }}</div>
</div>


{% endblock %}